<h2>"<%= @defin.name %>" is a possible definition for the word "<%= @defin.word.name %>"</h2>

<form action="/words/<%= @defin.word.id %>/defins/<%= @defin.id %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="name">Change definition</label>
  <input id="name" name="name" type="text">

  <button type="submit">Update definition</button>
</form>

<form action="/words/<%= @defin.word.id %>/defins/<%= @defin.id %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete definition</button>
</form>

<a href="/words/<%= @defin.word.id %>">Back to <%= @defin.word.name %></a>